@model TeamHost.Shared.Requests.Account.Chat.GetChat.GetChatsResponse
@using Humanizer

<ul class="chat-user-list__body">
    @foreach (var chat in Model.Chats)
    {
    var image = chat.ChatImageUrl ?? "img/profile.png";
    var date = chat.LastReceivedMessageTime.HasValue ? DateTime.UtcNow.Subtract(chat.LastReceivedMessageTime.Value).Humanize() : "";
    <li id="friend-id=@(chat.ChatId)">
        <div class="user-item" data-message-id="@chat.ChatId">
            <div class="@("user-item__avatar")">
                <img src="~/@image" alt="user">
            </div>
            <div class="user-item__desc">
                <div class="user-item__name">@chat.ChatTitle</div>
                <div class="user-item__text">@chat.LastReceivedMessageContent</div>
            </div>
            <div class="user-item__info">
                <div class="user-item__time">@date</div>
                @if (!chat.HasReadLastReceivedMessage)
                {
                    <div>New</div>
                }
            </div>
        </div>
    </li>
    }
</ul>